<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lingo.photo_preview">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".PhotoPreviewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/PhotoPreviewTheme" />
    </application>

</manifest>